body {
	background-color: rgb(253,237,194);
}

.site-header, .site-footer {
	@include header(rgb(91,147,170))
}

.site-footer {
	@include footerFont(bold);
}

.table {
	@include table(left);
}

.head {
	@include tableHead(center);
}

.map {
	@include map(right, -150px);
}

.picture {
	@include picture(0 auto, 80%, 15px);
}


.specials{
	@include clearfix;
	width: 100%;
	padding: 0;
	margin: 0;
	li {
		display: block;
		width: 240px;
		list-style: none;
		margin: 0 10px 0 0;
		padding: 0;
		float: left;
		&:last-child{
			margin-right: 0;
		}
		img {
			display: block;
			height: auto;
			width: 100%;
		}
		figcaption {
			display: block;
		}
	}
}

.image, .defaultimg {
	@include image(200px, auto, none, 10px);
}

.price, .name {
	@include price(250px, -70px);
}

.defaultimg {
	padding-top: 50px;
}
h1 {
	background-color: red;
	width: 20%;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: -70px;
	text-align: center;
}