

@mixin header($color) {
	background-color: $color;
}

@mixin footerFont($weight) {
	font-weight: $weight;
}

@mixin table($left){
		text-align: $left;
}

@mixin tableHead($center) {
	text-align: $center;
}

@mixin map($float, $up){
	float: $float;
	margin-top: $up;
}

@mixin picture($margin, $width, $padding) {
	margin: $margin;
	width: $width;
	padding: $padding;
	
}


@mixin clearfix {
	&:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
}     

@mixin image($width, $height, $list, $pad) {
	width: $width;
	height: $height;
	list-style: $list;
	padding: $pad;

}

ol {
	list-style: none;
}

@mixin price($pixels, $up) {
	margin-left: $pixels;
	margin-top: $up;
}